<form method="post" action="/document/new">
  <label for="filename">Enter the name of the document:</label>
  <div>
    <input type="text" name="filename" id="filename" />
  </div>
  <button type="submit">Create</button>
</form>
