<form name="sign_in" method="post" action="/users/sign_in">
  <div>
    <label for="user">Username:</label>
    <input type="text" name="user" value="<%= @user %>" />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" />
  </div>
  <button type="submit">Log In</button>
</form>
